#result {
	margin-top: 20px;
}

#result div {
	margin-bottom: 10px;
}

.container {
	padding: 0 20px;
}

.bg-100-container {
	position: absolute;
	z-index: -1;
}

.bg-100-container::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(
		0,
		0,
		0,
		0.5
	); /* Цвет тёмного серого с полупрозрачностью */
	z-index: 1; /* Убедитесь, что псевдоэлемент находится выше изображения */
}

.bg-100 {
	display: block;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: 2; /* Убедитесь, что изображение находится над псевдоэлементом */
}

.bg-40-container {
	position: absolute;
	z-index: -1;
	transition: 0.25s ease-in-out all;
}

.bg-40-container::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 40vh;
	background-color: rgba(
		0,
		0,
		0,
		0.3
	); /* Цвет тёмного серого с полупрозрачностью */
	z-index: 1; /* Убедитесь, что псевдоэлемент находится выше изображения */
}

.bg-40 {
	display: block;
	width: 100vw;
	height: 40vh;
	object-fit: cover;
	z-index: 2; /* Убедитесь, что изображение находится над псевдоэлементом */
}

body {
	margin: 0;
	padding: 0;
	background-color: #005d4d;
	color: #fff;
	font-family: "SFProText";
	font-weight: 400;
	height: 100vh;
	box-sizing: border-box;
	overflow-x: hidden;
}

.hero1 {
	color: #fff;
	height: 100vh;
}
.hero1__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.hero1__background {
}
.hero1__top {
	padding-top: 70px;
}
@media (max-width: 479.98px) {
	.hero1__top {
		padding-top: 50px;
	}
}
.hero1__title {
	font-size: 35px;
	font-weight: 500;
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 20px;
}
@media (max-width: 479.98px) {
	.hero1__title {
		font-size: 24px;
		margin-bottom: 10px;
	}
}
.hero1__subtitle {
	font-size: 20px;
	font-weight: 400;
	max-width: 1100px;
	text-align: center;
}

@media (max-width: 479.98px) {
	.hero1__subtitle {
		font-size: 18px;
	}
}
.hero1__bottom {
	padding-bottom: 70px;
}

@media (max-width: 479.98px) {
	.hero1__bottom {
		padding-bottom: 50px;
	}
}

.hero1__btn {
	width: 300px;
}

.hero2__content {
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	gap: 50px;
}

@media (max-width: 479.98px) {
	.hero2__content {
		padding: 0px;
		gap: 40px;
		margin-top: 30px;
		margin-bottom: 50px;
	}
}

.hero2 {
	padding-top: 380px;
	max-width: 1200px;
	margin: 0 auto;
	transition: 0.25s ease-in-out all;
}

.hero2__section {
}
.hero2__title {
	font-size: 27px;
	margin-bottom: 20px;
}

.hero2__text {
	font-size: 19px;
	line-height: 1.3;
}

@media (max-width: 479.98px) {
	.hero2__title {
		font-size: 24px;
		margin-bottom: 15px;
	}
}

@media (max-width: 479.98px) {
	.hero2__text {
		font-size: 18px;
	}
}

.hero2__bottom {
	display: flex;
	justify-content: center;
}

@media (max-width: 479.98px) {
	.hero2__bottom {
		padding-bottom: 50px;
	}
}

.hero2__btn {
	width: 300px;
}

.btn {
	display: inline-block;
	border: none;
	cursor: pointer;
}

.btn_summary {
	display: block;
	padding: 15px 12px;
	color: #fff;
	line-height: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: linear-gradient(180deg, #00eeb2 0%, #073227 100%);
	border-radius: 5px;
	background-repeat: no-repeat;
	font-weight: 600;
	transition: 0.25s ease-in-out all;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.btn_quiz {
	display: block;
	padding: 15px 12px;
	color: #fff;
	line-height: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: linear-gradient(180deg, #00eeb2 0%, #073227 100%);
	border-radius: 5px;
	background-repeat: no-repeat;
	font-weight: 600;
	transition: 0.25s ease-in-out all;
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.btn_quiz:hover {
	transform: scale(1.04);
}

.quiz__title {
	transition: 0.3s ease-in-out all;
}

.btn_summary:hover {
	transform: scale(1.05);
}

#bg-container {
	position: relative;
	z-index: -1;
	transition: 0.25s ease-in-out all;
}

#bg-container::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 500px;
	background-color: rgba(
		0,
		0,
		0,
		0.3
	); /* Цвет тёмного серого с полупрозрачностью */
	z-index: 1; /* Убедитесь, что псевдоэлемент находится выше изображения */
}

#background {
	width: 100%;
	height: 500px;
	background-size: cover; /* Устанавливаем размер изображения */
	background-position: center; /* Центрируем изображение */
	background-repeat: no-repeat; /* Отключаем повторение */

	margin-bottom: 40px;
}

#question-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 479.98px) {
	#question-container {
		padding-bottom: 40px;
	}
}

#question {
	text-align: center;
	font-size: 23px;
	margin-bottom: 40px;
	max-width: 800px;
	line-height: 1.3;
}

#options {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	max-width: 650px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.option-button {
	display: block;
	padding: 10px 8px;
	color: #fff;
	line-height: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: linear-gradient(180deg, #84e8cf 0%, #175747 100%);
	border-radius: 5px;
	background-repeat: no-repeat;
	font-weight: 600;
	transition: 0.25s ease-in-out all;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	width: 100%;

	transition: 0.25s ease-in-out all;
}
.option-button:hover {
	transform: scale(1.02);
}
.option-button.selected {
	background: linear-gradient(180deg, #25ab89 0%, #0d3e32 100%);
	transform: scale(1.04);
}
