.footer {
    // .footer__content
    &__content {
        display: flex;
        flex-direction: column;

        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid $gray-line;

        margin-top: 70px;
    }
    // .footer__top
    &__top {
        display: flex;
        justify-content: space-between;

        @media (max-width: $md2) {
            flex-direction: column;
            gap: 25px;
        }
    }
    // .footer__collumn
    &__collumn {
    }
    // .footer__title
    &__title {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;

        margin-bottom: 20px;
    }
    // .footer__bottom
    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 31px;

        @media (max-width: $md2) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    // .footer__copyright
    &__copyright {
        font-size: 18px;
        @media (max-width: $md2) {
            text-align: center;
            font-size: 15px;

            margin-top: 25px;
        }
    }
    // .footer__payments
    &__payments {
        display: flex;
        align-items: center;
        gap: 16px;
        @media (max-width: $md2) {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 25px;
        }
    }
    // .footer__payment-img
    &__payment-img {
    }
    // .foter__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: 6px;

        margin-top: 10px;
    }
    // .foter__list-item
    &__list-item {
        font-size: 18px;
        color: #616161;
    }
    &__list-link {
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
