.header {
	border-bottom: 1px solid $gray-line;
	padding: 40px 0;
	width: 100%;

	@media (max-width: $md2) {
		padding: 20px 0;

		width: 100%;

		position: fixed;
		top: 0;
		left: 50%;
		z-index: 50;
		transform: translateX(-50%);

		backdrop-filter: blur(15px);
		border-bottom: none;
		transition: transform 0.25s ease;
	}

	&.hide {
		transform: translateY(-100px) translateX(-50%);
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		display: flex;

		img {
			margin-right: 15px;
			cursor: pointer;
		}

		h1 {
			color: #181818;
			font-size: 24px;
			letter-spacing: 1%;
			text-transform: uppercase;
			font-weight: 800;

			span {
				color: $purple;
			}

			@media (max-width: $md2) {
				font-size: 22px;
			}
		}

		p {
			color: #7b7b7b;

			@media (max-width: $md2) {
				font-size: 13px;
			}
		}
	}
}
